
:root{
    /* --background-color: #f7f7f73d; */
    --background-color1: #58f3cd;
    --color0: #58f3cd;
    --color1: #777777;
    --color2: #fff;
    --color3: #000;
    --color4: #1c725c;
    --color5: #7a7a7a;
    --color6: #00e6b3;
    --color7: #7b7474;
    --color8: #00d99f;
    --color9: #40ce7a;
    --color10: #70f9bb;
}